@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Ubuntu:wght@400;500;700&display=swap');
:root{
	--dark: #FFFFFF;
	--white: #f2f2f2;
	--main-red: #FF0B53;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


body{
	background-color: var(--dark);
	color: var(--white);
	font-family: 'Ubuntu', sans-serif;
	width: ;
	height: ;
}

.header{
	max-width: 1780px;
	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: ;
	width: 1780px;
	height: 55px;
	margin-top: ;

	background: #000;
}

.nav{
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.nav-item{
	margin-left: 30px;
}
.nav-item--login{
	color: var(--white);
	text-decoration: none;
}
.nav-link{
	color: var(--white);
	text-decoration: none;
}
.nav-link--login{
	color: var(--white);
	font-weight: 500;
}
.wrapper{
	max-width: 1780px;
	background: #000000 20%;
	width: 1920px;
	height: 1080px;
	padding: 163px  366px;
}
.main{
	background: #7A7A7A;
	align-items: center;
	border: 1px solid rgba(122, 122, 122, 1);
	padding: 0 10px;
	background: background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.19) 1.86%, rgba(122, 122, 122, 0) 104.73%);
	filter: filter: drop-shadow(0px 4px 4px rgba(50, 50, 50, 0.15));
	backdrop-filter: blur(100px);
	border-radius: 7px;
	width: 1268px;
	height: 584px;
	top: 248px;
	left: 326px;
}
.Section{
	width: 1176px;
	height: 440px;
	top: 320px;
	left: 372px;
	border-radius: 36px;
	border: 1px solid rgba(122, 122, 122, 1);
	margin: 82px;

}
.Button{
	display: inline-block;
	height: 50px;
    line-height: 50px;
    position: relative;
    border: none;
    padding: 0 1rem;

    left: 75px;
    margin-left: 50px;
}
.dow{
	display: flex;
}
.col-25{
	color: #30f;
}
.main-text{
	align-items: center;
	margin: 80px;
	text-align: center;
}
.main-text__description{
	text-align: center;
}

.main-text__link{
	padding: 14px 32px;
	border: 3px solid #fff;
	border-radius: 36px;
	font-weight: 500;
	transition: .2s ease background-color;
	margin-bottom: 319px;
	width: 284px;
	height: 64px;
	margin-left: 52px;

}
.main-text__link:hover{
	color: var(--white);
	background-color: var(--main-red);
}
.Partners_Our{
	background: #dedede;
	width: 1920px;
	height: 755px;
	max-width: 1780px;
	margin-top: -22px;
}
.container{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 1100px;
}
.container .icon{
	position: relative;
	width: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container .icon .iconBx{
	position: relative;
	width: calc(33% - 40px);
	margin: 0 30px 30px 0;
	padding: 0 25 px;
	height: 171px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 4px;
	transition: 0.5s;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
}
.container .icon .iconBx.active{
	box-shadow: 0 10px 0px rgba(0, 0, 0, .10%);
}
.container .icon .iconBx img{
	max-width: 100%;
}
.content{
	position: relative;
	width: 50%;
	overflow: hidden;
}
.content .contentBx{
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	transform: scale(0);
	opacity: 0;
}
.content .contentBx.active{
	transform: scale(1);
	opacity: 1;
}
.content .contentBx h2{
	font-size: 3em;
	color: #000;
}
.p{
	color: #30f;
}

.testional{
	border: 4px;
	border-radius: 10px;
	background: #fff;
	width: 860px;
	height: 360px;
}
.info{
	display: flex;
	margin-bottom: 20px;
}
.info-np{
	display: flex;
	flex-direction: column;
	color: #000;
}
.NiP{
	display: block;
}

.One_Team{
	background: #ff7b00;
	width: 2230px;
	height: 727px;
	max-width: 1780px;
	margin-top: -22px;
	top: 1954px;
	left: 70px;
}
.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.Contact_Us{
	background: #30f;
	width: 2122px;
	height: 1040px;
	max-width: 1789px;
	margin-top: -20px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #FF0B53;
  color: white;
  font-size: 8px;
  padding: 16px 32px;
}

.container-swipper{
	display: inline-block;
}

.aside{
	margin: 40px;
	width: 430px;
	height: 267px;
	left: 70px;
}

.description-text{
	display: flex;
	height: 332px;
	margin: 40px;
}
.info-text{
	width: 430px;
	height: 267px;
}

.swiper-scrollbar{
	cursor: pointer;
	background-color: #30f;
	width: 530px;
	height: 7px;
	overflow-x: ;
	white-space: nowrap;

}
.swiper-wrapper {
    position: relative;
    width: 1200px;
    height: 345px;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    padding-left: 100
}
.btn-nr{
    float: right;
    width: 703px;
    height: 50px;
    margin: 30px;
    margin-right: -440px;
    margin-top: -10px;
}
.btn-text__link-bc{
	padding: 25px 25px;
	border: 3px solid #fff;
	border-radius: 36px;
	font-weight: 500;
	transition: .2s ease background-color;
	margin-bottom: 319px;
	width: 284px;
	height: 64px;
	margin-left: 52px;	
}
.btn-text__link-nr{
	padding: 25px 25px;
	border: 3px solid #fff;
	border-radius: 36px;
	font-weight: 500;
	transition: .2s ease background-color;
	margin-bottom: 319px;
	width: 284px;
	height: 64px;
	margin-left: calc(30px)

}    

.image-slider .swiper-scrollbar-drag {
	cursor: pointer;
	background-color: #30f;
}
.a{
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
}
.a:hover{
	background-color: #30f;
}
.Team_selection{
	align-items: center;
}
.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  border-radius: 81px;
}
.gradient-button:hover {
  background-position: right center;
}
.input{
	padding: 300px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    display: inline-block;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    display: inline-block;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: inline-block;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
.btn{
	display: inline-block;
	padding-left: 483px;
	height: 68px;
}
.btn2{
	display: inline-block;
}
.btn-text__link{
	padding: 14px 32px;
	border: 3px solid #fff;
	border-radius: 36px;
	font-weight: 500;
	transition: .2s ease background-color;
	margin-bottom: 319px;
	width: 284px;
	height: 64px;
	margin-left: 52px;
}
.subject{
	height: 200px; 
	width: 450px;
}
.Social{
	background: #;
}
.fa, .fa-brands, .fa-duotone, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    margin: 18.25px;

    padding: 14px;
    font-size: 24px;
    width: 22.5px;
    height: 22.5px;
    top: 3.75px;
    left: 3.755px;

    color: #FF0B53;
}
.fa-brands{
	font-family: "Font Awespne 6 Brands";
	font-weight: 400;
}
.footer{
	background: #17191D;
	width: 1920px;
	height: 570px;
	max-width: 1780px;
}


* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: flex;
    clear: both;
    width: 725px;
}

/* geometric figures */
.circle{
	width: 256px;
	height: 257px;
	background-color: #ff0b53;
	border-radius: 50%;
	margin: -20px;
	margin-top: -150px;
}
.big-circle{
	width: 1021px; 
	height: 1021px;
	top: 787px;
	left: 480px;
	background: #000;
	border-radius: 50%;
	border-style: solid;
	border-color: #ff0b53;
	border-width: 50px;

}
.block__item{
	left: 40%;

}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




.container {
    position: relative;
    width: 1800px;
    margin-top: 170px;
}

.Card{
	display: inline;
}

.image {
  opacity: 1;
  display: inline;
  width: 25%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  width: 210px;
  height: 60px;
}





/* Plitki */
.gallery-grid{
	display: flex;
	flex-wrap: wrap;
	max-width: 1140px;
	margin: 0 auto;
	padding-top: 100px;
}

.gallery-grid,
.gallery-grid *{
	box-sizing: border-box;
}


.grid-item{
	width: 33.33%;
	margin: 15px 0;
	padding: 0 15px
}

.grid-item__inner{
	position: relative;
	display: flex;
	height: 100%;
	cursor: pointer;
	overflow: hidden;
}

.grid-item__inner:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	opacity: 0;
	z-index: 2;	
	transition: all .4s ease;
	content: '';
}


.grid-item__inner:hover:before{
	opacity: 1;
}

.grid-item__img{
	width: 430px;
	height: 345px;
	object-fit: cover;
	transition: all .4s ease;
}

.grid-item__inner:hover .grid-item__img{
	transform: scale(1.05);
}

.grid-item__title{
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: Arial, sans-serif;
	font-size: 24px;
	color: #fff;
	overflow: hidden;
	z-index: 3;
	margin: 115px;
}

.grid-item__title > span{
	display: block;
	transform: translateY(30px);
	transition: transform .4s ease;
}

.grid-item__inner:hover .grid-item__title > span{
	transform: translateY(0);
}

.btn-text__link{
	padding: 14px 32px;
	border: 3px solid #fff;
	border-radius: 36px;
	font-weight: 500;
	transition: .2s ease background-color;
	margin-bottom: 319px;
	width: 284px;
	height: 64px;
	margin-left: 52px;
	overflow: hidden;
}


.vector{
	width: 148.41px;
	height: 148.41px;
	margin-left: 1350px;
}
.vector2{
	width: 148.41px;
	height: 148.41px;
}
.VectorCU{
	width: 423px;
	height: 147px;
	margin-top: 500px;
}




